<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Form Design</title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
        <link rel="stylesheet" href="../../static/stylesheets/style.css">
    </head>
    <body>
        <div class="board-form">
            <table>
                {{#each info}}
                <tr>
                    <th>번호</th>
                    <td><span>no : {{no}}</span></td>
                </tr>

                <tr>
                    <th>작성자</th>
                    <td><span>{{name}}</span></td>                    
                </tr>

                <tr>
                    <th>제목</th>
                    <td><span>{{title}}</span></td> 
                </tr>

                <tr>
                    <th>본문</th>
                    <td><span>{{context}}</span></td>
                </tr>

                <tr>
                    <td>
                        <form metnod="POST" action="../del/{{no}}">
                        {{!-- <input type="hidden" value="{{no}}"> --}}
                            <input type="submit" value="del">
                        </form>
                    </td>
                    <td>
                        <form metnod="POST" action="../mod/{{no}}">
                            {{!-- <input type="hidden" value="{{no}}"> --}}
                            <input type="submit" value="mod">
                        </form>
                    </td>
                </tr>
                {{/each}}
            </table>
        </body>
    </body>